<h1>Sign Up</h1>
<%= form_for @user do |s| %>
  <%= s.label :username %>
  <%= s.text_field :username %><br />

  <%= s.label :password %>
  <%= s.password_field :password %><br>
  
  <%= s.submit %>
<% end %>

<br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>