  
<h1><%= @gear.rarity %> <%= @gear.equip %></h1>

<h2>Main Stat -  <%= @gear.main_stat %></h3>
<p>Substat 1 - <%= @gear.stat_1 %>: <%=@gear.stat_1_per %></p>
<p>Substat 2 - <%= @gear.stat_2 %>: <%=@gear.stat_2_per %></p>
<p>Substat 3 - <%= @gear.stat_3 %>: <%=@gear.stat_3_per %></p>
<p>Substat 4 - <%= @gear.stat_4 %>: <%=@gear.stat_4_per %></p>

<br>
<%= button_to "Edit Gear", edit_gear_path(@gear), :method => :get%>

<br>
<h3>Comments: </h3>
<ul>
<%= @gear.comments.each do |c| %>
    <li><%= c.content %></li> <br>
<% end %>
</ul>
<br>


<%= button_to "Add New Comment", new_gear_comment_path(@gear, @comment), :method => :get %> <br><br>

<%= button_to "Delete Gear", gear_path(@gear), :method => :delete %>